<link rel="stylesheet" href="styles.css">
<script src="./AboutEvent.js"></script>
<script src="./AboutView.js"></script>
<script src="./About.js"></script>

<template id="view">
    <about-view>
        <figure class="about-logo"></figure>
        <section class="about-details">
            <span class="name" data-name>Timestamp</span>
            <span class="version" data-version>1.0.0</span>

            <nav class="about-links">
                <a href="https://mzdr.github.io/timestamp" class="link">
                    <translate-string>visitOfficialWebsite</translate-string>
                </a>

                <a href="https://github.com/mzdr/timestamp/issues" class="link">
                    <translate-string>reportAnIssue</translate-string>
                </a>
            </nav>
        </section>
        <footer class="about-footer">&copy; 2016 Sebastian Prein. <translate-string>releasedUnderMIT</translate-string></footer>
    </about-view>
</template>
