about-view {
    display: flex;
    position: relative;
}

.about-id {
    text-align: center;
    min-width: 100px;
}

.about-id > .logo {
    background-image: url("../../images/logos/timestamp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 4rem;
    margin: 0 auto 1rem;
    width: 4rem;
}

.about-id > .name {
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.about-id > .version {
    display: block;
}

.about-id > .version::before {
    content: "v";
}

.about-details {
    margin: auto;
    text-align: center;
    min-width: 352px;
}

.about-details > .line {
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.about-details > .line.-silent {
    color: var(--silent-fg);
}

.about-details > .link + .link {
    margin-left: 0.5rem;
}
