@keyframes dots {
    0%    { content: ""; }
    20%   { content: "."; }
    50%   { content: ".."; }
    80%   { content: "..."; }
    100%  { content: ""; }
}

about-view {
    --logo-size: 10rem;

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.about-logo {
    background-image: url("../../images/logos/timestamp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--logo-size);
    margin: 0;
    width: var(--logo-size);
}

.about-details {
    width: calc(100% - var(--logo-size));
}

about-name {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
}

about-version {
    color: var(--shy-fg);
    display: block;
    font-size: 0.8125rem;
    text-indent: 2px;
}

about-version::before {
    content: "v";
}

[is="about-update"] {
    color: var(--brand-success);
    display: flex;
    justify-content: center;
    margin: 2rem 0 0.5rem;
    transition-duration: var(--transition-duration);
    transition-property: color;
    width: 100%;
}

[is="about-update"] > .label {
    display: none;
}

[is="about-update"][status="checking"] {
    color: var(--silent-fg);
}

[is="about-update"][status="checking"]::after {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: dots;
    animation-timing-function: step-end;
    content: "";
    text-align: left;
    width: 1em;
}

[is="about-update"][status="update-available"] {
    background-color: var(--brand-success);
    box-shadow: 0 0 0 1px var(--brand-success);
    color: var(--highlight-fg);
}

[is="about-update"][status="unknown"] > [key="checkForUpdate"],
[is="about-update"][status="checking"] > [key="checking"],
[is="about-update"][status="up-to-date"] > [key="youAreUpToDate"],
[is="about-update"][status="update-available"] > [key="updateAvailable"] {
    display: block;
}

.about-links {
    display: flex;
    color: var(--highlight-bg);
}

.about-links > .link {
    text-align: center;
    flex-grow: 1;
}

.about-links > .link + .link {
    margin-left: 0.5rem;
}

.about-footer {
    border-top: 1px solid var(--silent-bg);
    color: var(--silent-fg);
    font-size: 0.8125rem;
    margin-top: 1.5rem;
    padding-top: 1rem;
    text-align: center;
    width: 100%;
}
