:root {
  background-color: var(--color-paper);
  box-sizing: border-box;
  color: var(--color-pen);
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}
