:host {
  display: block;
}

.calendar-background {
  display: grid;
  grid-template-areas: "main";
}

.calendar-background > .image,
.calendar-background > .slot {
 grid-area: main;
}

.calendar-background > .image {
  display: flex;
  margin: 0;
}

.calendar-background > .slot {
  display: block;
}
