:host {
  display: block;
}

:host([active-month="0"]) [data-month="0"],
:host([active-month="1"]) [data-month="1"],
:host([active-month="2"]) [data-month="2"],
:host([active-month="3"]) [data-month="3"],
:host([active-month="4"]) [data-month="4"],
:host([active-month="5"]) [data-month="5"],
:host([active-month="6"]) [data-month="6"],
:host([active-month="7"]) [data-month="7"],
:host([active-month="8"]) [data-month="8"],
:host([active-month="9"]) [data-month="9"],
:host([active-month="10"]) [data-month="10"],
:host([active-month="11"]) [data-month="11"] {
  color: var(--color-pen);
}

/* Sunday */
:host([start-of-week="0"]) [data-weekday="1"]:first-child { grid-column: 1; }
:host([start-of-week="0"]) [data-weekday="2"]:first-child { grid-column: 2; }
:host([start-of-week="0"]) [data-weekday="3"]:first-child { grid-column: 3; }
:host([start-of-week="0"]) [data-weekday="4"]:first-child { grid-column: 4; }
:host([start-of-week="0"]) [data-weekday="5"]:first-child { grid-column: 5; }
:host([start-of-week="0"]) [data-weekday="6"]:first-child { grid-column: 6; }

/* Monday */
:host([start-of-week="1"]) [data-weekday="2"]:first-child { grid-column: 2; }
:host([start-of-week="1"]) [data-weekday="3"]:first-child { grid-column: 3; }
:host([start-of-week="1"]) [data-weekday="4"]:first-child { grid-column: 4; }
:host([start-of-week="1"]) [data-weekday="5"]:first-child { grid-column: 5; }
:host([start-of-week="1"]) [data-weekday="6"]:first-child { grid-column: 6; }
:host([start-of-week="1"]) [data-weekday="0"]:first-child { grid-column: 7; }

/* Saturday */
:host([start-of-week="6"]) [data-weekday="1"]:first-child { grid-column: 3; }
:host([start-of-week="6"]) [data-weekday="2"]:first-child { grid-column: 4; }
:host([start-of-week="6"]) [data-weekday="3"]:first-child { grid-column: 5; }
:host([start-of-week="6"]) [data-weekday="4"]:first-child { grid-column: 6; }
:host([start-of-week="6"]) [data-weekday="5"]:first-child { grid-column: 7; }
:host([start-of-week="6"]) [data-weekday="0"]:first-child { grid-column: 2; }

.calendar-body {
  --maximum-days: 7;
  --maximum-weeks: 6;
  --week-width: calc(var(--view-width) - (2 * var(--grid-gap)));
  --days-gap: 6px;
  --days-height: calc(var(--week-width) / var(--maximum-days) * var(--maximum-weeks));

  display: grid;
  grid-row-gap: 10px;
  grid-template-areas: "legend" "weekdays" "days";
  grid-template-columns: 1fr;
}

.calendar-body > .legend {
  align-items: center;
  color: var(--color-shy);
  display: grid;
  grid-area: legend;
  grid-column-gap: 20px;
  grid-template-columns: 50px minmax(60px, max-content) 50px;
  justify-content: center;
  padding: 14px var(--grid-gap);
  text-align: center;
  white-space: pre;
}

.calendar-body > .legend::before,
.calendar-body > .legend::after {
  content: "";
  height: 1px;
}

.calendar-body > .legend::before {
  background-image: linear-gradient(to left, var(--color-line), transparent);
}

.calendar-body > .legend::after {
  background-image: linear-gradient(to right, var(--color-line), transparent);
}

.calendar-body > .weekdays {
  display: grid;
  grid-area: weekdays;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.calendar-body > .days {
  color: var(--color-shy);
  display: grid;
  grid-area: days;
  grid-auto-flow: row;
  grid-row-gap: var(--days-gap);
  grid-template-columns: repeat(7, 1fr);
  height: calc(var(--days-height) + (var(--days-gap) * (var(--maximum-weeks) - 1)));
  list-style: none;
  margin: 0;
  overflow: scroll;
  padding: 0;
  /*scroll-snap-type: y mandatory;*/
}

.calendar-body > .days > .day {
  align-items: center;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  /*overflow-anchor: none;*/
  text-align: center;
}

/*.calendar-body > .days > .day[data-day="1"] {*/
/*  scroll-snap-align: start;*/
/*}*/

.calendar-body > .days::-webkit-scrollbar {
  display: none;
}

.calendar-body > .days > .day.-today {
  background-color: var(--color-brand);
  background-image: linear-gradient(20deg, #fff2, transparent);
  border-radius: 50%;
  color: var(--palette-white);
  font-weight: 500;
}
