:host {
    align-items: center;
    contain: content;
    display: flex;
    flex: 1;
    font-size: 13px;
    font-weight: 300;
    height: 32px;
    justify-content: center;
}

:host([muted]) {
    color: var(--silent-fg);
}

:host([today]) {
    background-image: radial-gradient(circle, var(--highlight-bg) 60%, transparent 64%);
    color: var(--highlight-fg);
}

@media (min-resolution: 2dppx) {
    :host([today]) {
        background-image: radial-gradient(circle, var(--highlight-bg) 60%, transparent 62%);
    }
}
