{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "rules": {
    "import/extensions": "off",
    "no-console": "off",
    "max-len": "off",
    "no-restricted-syntax": "off"
  },
  "settings": {
    "import/core-modules": ["electron"]
  }
}
