<template>
    <style>
        :host {
            contain: content;
            display: block;
        }
    </style>
    <slot></slot>
</template>

<script>
    /* global document, customElements, BaseElement */

    class TabContainer extends BaseElement {
        constructor() {
            super().fetchTemplate();
        }
    }

    // Remember document from import scope. Needed for accessing elements inside
    // the imported html…
    TabContainer.ownerDocument = document.currentScript.ownerDocument;

    // @see https://developer.mozilla.org/docs/Web/API/CustomElementRegistry/define
    customElements.define('tab-container', TabContainer);
</script>
