<template>
    <style>
        :host {
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
            contain: content;
            display: flex;
        }
    </style>

    <slot></slot>
</template>

<script>
    /* global document, Electron, customElements, BaseElement, TabEvent */

    class TabBar extends BaseElement {
        constructor() {
            super().fetchTemplate();

            // Received response from update checks
            Electron.ipcRenderer.on('app.update.check',
                (...args) => this.onUpdateChecked(...args)
            );
        }

        /**
         * Received response from checking for updates. In this case we
         * automatically switch to the “about” tab if update checks return that
         * there is an update available.
         *
         * @param {Event} e Original emitted event.
         * @param {object} update Update response.
         * @return {AboutUpdate}
         */
        onUpdateChecked(e, update) {
            if (update.code < 0) {
                this.dispatchEvent(
                    new TabEvent('switch', { detail: { tab: 'about' } })
                );
            }

            return this;
        }
    }

    // Remember document from import scope. Needed for accessing elements inside
    // the imported html…
    TabBar.ownerDocument = document.currentScript.ownerDocument;

    // @see https://developer.mozilla.org/docs/Web/API/CustomElementRegistry/define
    customElements.define('tab-bar', TabBar);
</script>
