<link rel="import" href="./calendar/calendar-event.html">

<link rel="import" href="./calendar/calendar-day.html">
<link rel="import" href="./calendar/calendar-goto-month.html">
<link rel="import" href="./calendar/calendar-goto-today.html">
<link rel="import" href="./calendar/calendar-goto-year.html">
<link rel="import" href="./calendar/calendar-illustration.html">
<link rel="import" href="./calendar/calendar-month.html">
<link rel="import" href="./calendar/calendar-navigation.html">
<link rel="import" href="./calendar/calendar-legend.html">
<link rel="import" href="./calendar/calendar-show-preferences.html">
<link rel="import" href="./calendar/calendar-today.html">
<link rel="import" href="./calendar/calendar-view.html">
<link rel="import" href="./calendar/calendar-week.html">
<link rel="import" href="./calendar/calendar-weekday.html">
<link rel="import" href="./calendar/calendar-weekdays.html">
<link rel="import" href="./calendar/calendar-weeks.html">
