:host {
  display: block;
  text-align: center;
}

.calendar-today {
  color: var(--color-text-primary);
  display: block;
  font-size: 32px;
  font-weight: 100;
  padding: 52px 0 32px;
}

.calendar-today > .day {
  font-weight: 300;
}
