<link rel="stylesheet" href="styles.css">
<script src="./PreferencesEvent.js"></script>
<script src="./PreferencesItem.js"></script>
<script src="./PreferencesItemData.js"></script>
<script src="./PreferencesItemTitle.js"></script>
<script src="./PreferencesItemDescription.js"></script>
<script src="./PreferencesView.js"></script>
<script src="./Preferences.js"></script>

<template id="view">
    <preferences-view>
        <tab-bar>
            <button is="tab-bar-item" tab="general" class="-active">
                <i class="icon-general icon"></i>
                <translate-string class="label">general</translate-string>
            </button>
            <button is="tab-bar-item" tab="clock">
                <i class="icon-clock icon"></i>
                <translate-string class="label">clock</translate-string>
            </button>
            <button is="tab-bar-item" tab="calendar">
                <i class="icon-calendar icon"></i>
                <translate-string class="label">calendar</translate-string>
            </button>
            <button is="tab-bar-item" tab="about">
                <i class="icon-about icon"></i>
                <translate-string class="label">about</translate-string>
            </button>
            <button is="tab-bar-item" tab="quit">
                <i class="icon-quit icon"></i>
                <translate-string class="label">quit</translate-string>
            </button>
        </tab-bar>

        <tab-container>

            <tab-content tab="general" class="-active">
                <preferences-item>
                    <preferences-item-data key="startAtLogin" type="toggle"></preferences-item-data>
                    <preferences-item-title>
                        <translate-string>startAtLogin</translate-string>
                    </preferences-item-title>
                    <preferences-item-description>
                        <translate-string>startAtLoginDescription</translate-string>
                    </preferences-item-description>
                </preferences-item>
            </tab-content>

            <tab-content tab="clock">
                <preferences-item>
                    <preferences-item-title>
                        <translate-string>clockFormat</translate-string>
                    </preferences-item-title>
                    <preferences-item-description>
                        <translate-string>clockFormatDescription</translate-string>
                    </preferences-item-description>
                    <preferences-item-data
                        key="clockFormat"
                        type="input"
                        placeholder="w/Q  ddd, DD.MM.YYYY  HH:mm"></preferences-item-data>
                </preferences-item>
            </tab-content>

            <tab-content tab="calendar">

                <preferences-item>
                    <preferences-item-data type="toggle" key="showWeekOfYear"></preferences-item-data>
                    <preferences-item-title>
                        <translate-string>showWeekOfYear</translate-string>
                    </preferences-item-title>
                    <preferences-item-description>
                        <translate-string>showWeekOfYearDescription</translate-string>
                    </preferences-item-description>
                </preferences-item>

                <preferences-item>
                    <preferences-item-data type="toggle" key="clickingDateOpensCalendar"></preferences-item-data>
                    <preferences-item-title>
                        <translate-string>clickingDateOpensCalendar</translate-string>
                    </preferences-item-title>
                    <preferences-item-description>
                        <translate-string>clickingDateOpensCalendarDescription</translate-string>
                    </preferences-item-description>
                </preferences-item>
            </tab-content>

            <tab-content id="about-view" tab="about"></tab-content>
        </tab-container>
    </preferences-view>
</template>


<template id="item-data-input">
    <style>
        :host {
            display: block;
        }

        input {
            background: transparent;
            border: 0;
            color: currentColor;
            display: block;
            font-family: inherit;
            font-size: inherit;
            height: 100%;
            margin: 0;
            outline: 0;
            padding: 0;
            width: 100%;
        }
    </style>
    <input type="text">
</template>

<template id="item-data-toggle">
    <style>
        :host {
            display: inline-block;
            position: relative;
        }

        input {
            height: 100%;
            left: 0;
            margin: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        input:checked + .switch-container .switch-track {
            transform: translate3d(calc(-100% * 1/3), 0 , 0);
        }

        input:checked + .switch-container .switch-knob {
            transform: translate3d(-100%, 0 , 0);
        }

        .switch-container {
            display: block;
            height: 2em;
            margin: 0.125em;
            position: relative;
            width: 4em;
        }

        .switch-container > .clip {
            border-radius: 1em;
            display: block;
            height: 100%;
            overflow: hidden;
            transform: translate3d(0, 0, 0);
        }

        .switch-track,
        .switch-knob {
            transition-duration: 200ms;
            transition-property: transform;
            transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        .switch-track {
            align-items: center;
            background-image: radial-gradient(circle, rgba(255, 255, 255, 0.25), transparent),
                              linear-gradient(to right, var(--brand-fail) 50%, var(--highlight-bg) 50%);
            border-radius: inherit;
            box-shadow: inset 0 0.125em 0.1875em -0.1875em rgba(0, 0, 0, 1);
            display: flex;
            height: 100%;
            justify-content: space-between;
            transform: translate3d(0, 0, 0);
            width: 150%;
        }

        .switch-knob {
            background-color: currentColor;
            border-radius: 50%;
            box-shadow: 0 0.0625em 0.0625em 0 rgba(0, 0, 0, 0.25);
            color: var(--primary-bg);
            height: calc(100% + 0.125em);
            position: absolute;
            right: -0.0625em;
            top: -0.0625em;
            width: calc(50% + 0.125em);
        }

        .switch-track > .on,
        .switch-track > .off {
            height: 40%;
            width: auto;
        }

        .switch-track > .on {
            margin-right: 10%;
        }

        .switch-track > .off {
            margin-left: 12.5%;
        }
    </style>
    <input type="checkbox">
    <span class="switch-container">
        <span class="clip">
            <span class="switch-track">
                <svg class="off" width="185" height="185" viewBox="0 0 185 185" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#fff" d="M92.21 113.424l-60.103 60.104L21.5 184.135.287 162.92l10.606-10.605L70.997 92.21 10.893 32.108.287 21.5 21.5.287l10.607 10.606L92.21 70.997l60.105-60.104L162.92.287 184.136 21.5l-10.607 10.607-60.104 60.104 60.104 60.105 10.607 10.606-21.214 21.215-10.605-10.607-60.104-60.104" fill-rule="evenodd"/>
                </svg>
                <svg class="on" width="244" height="184" viewBox="0 0 244 184" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#fff" d="M60.712 161.924L10.607 111.82 0 101.213 21.213 80 31.82 90.607l50.105 50.104L212.03 10.608 222.637 0l21.213 21.213-10.607 10.607-130.105 130.104-21.213 21.213" fill-rule="evenodd"/>
                </svg>
            </span>
        </span>
        <span class="switch-knob"></span>
    </span>
</template>
