<script>
    const Electron = require('electron');

    // Tell translator where to find locales and use system locale
    Translator
        .setLocalesPath(`${Electron.remote.app.getAppPath()}/locales`)
        .setLocale(Electron.remote.app.getLocale());
</script>

<link rel="import" href="./preferences-event/index.html">

<link rel="import" href="./preferences-item/index.html">
<link rel="import" href="./preferences-item-data/index.html">
<link rel="import" href="./preferences-item-description/index.html">
<link rel="import" href="./preferences-item-title/index.html">
<link rel="import" href="./preferences-view/index.html">
