.list-shortcuts {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: calc(var(--grid-gap) / 2) var(--grid-gap);
}

.list-shortcuts > .keys {
  align-items: center;
  display: grid;
  font-size: var(--shy-size);
  grid-auto-flow: column;
  grid-column-gap: calc(var(--grid-gap) / 2);
  justify-content: flex-start;
}

.list-shortcuts > .keys > .key {
  background-color: var(--palette-white);
  background-image: linear-gradient(to top, #e6e6e6, transparent);
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: var(--palette-black);
  padding: 6px 12px;
}
