:host {
  --view-width: 338px;

  display: grid;
  grid-template-areas: "background" "month";
  position: relative;
  user-select: none;
  width: var(--view-width);
}

calendar-head,
calendar-body {
  -webkit-app-region: drag;
}

calendar-head { grid-area: background; }

calendar-body {
  grid-area: month;
  padding: 0 var(--grid-gap) var(--grid-gap);
}

calendar-show-preferences {
  padding: 18px 12px;
  position: absolute;
  right: 12px;
  top: 6px;
}

calendar-navigation {
  inset: 0;
  position: absolute;
}

calendar-navigation[hidden] {
  opacity: 0;
  pointer-events: none;
}

calendar-today,
calendar-navigation:not([hidden]) {
  -webkit-app-region: no-drag;
}
