:host {
  display: grid;
  grid-row-gap: 18px;
  grid-template-areas: "background" "legend" "month" "navigation";
  padding-bottom: var(--grid-gap);
  position: relative;
  user-select: none;
  width: 340px;

  -webkit-app-region: drag;
}

calendar-legend,
calendar-month,
calendar-navigation {
  padding: 0 var(--grid-gap);
}

calendar-background { grid-area: background; }
calendar-legend { grid-area: legend; }
calendar-month { grid-area: month; }
calendar-navigation { grid-area: navigation; }

calendar-show-preferences {
  padding: 18px 12px;
  position: absolute;
  right: 12px;
  top: 6px;
}
