:root {
  --palette-blue: #008bed;
  --palette-green: #0cbd00;
  --palette-black: #111;
  --palette-gray-20: #333;
  --palette-gray-40: #666;
  --palette-gray-60: #999;
  --palette-gray-80: #ccc;
  --palette-white: #fff;

  --color-brand: var(--palette-blue);
  --color-paper: var(--palette-white);
  --color-line: var(--palette-gray-80);
  --color-pen: var(--palette-black);
  --color-shy: var(--palette-gray-60);
}

@media (prefers-color-scheme: dark) {
  :root {
    --palette-white: #eee;

    --color-paper: var(--palette-black);
    --color-pen: var(--palette-white);
    --color-shy: var(--palette-gray-40);
    --color-line: var(--palette-gray-20);
  }
}
