@keyframes dots {
    0%    { content: ""; }
    20%   { content: "."; }
    50%   { content: ".."; }
    80%   { content: "..."; }
    100%  { content: ""; }
}

:host {
    color: var(--brand-success);
    contain: content;
    display: block;
    margin: 32px 0 8px;
    transition-duration: var(--transition-duration);
    transition-property: color;
}

:host([status="checking"]) {
    color: var(--silent-fg);
}

:host([status="update-available"]) {
    background-color: var(--brand-success);
    box-shadow: 0 0 0 1px var(--brand-success);
    color: var(--highlight-fg);
}

:host([status="unknown"]) > [key="checkForUpdate"],
:host([status="checking"]) > [key="checking"],
:host([status="up-to-date"]) > [key="youAreUpToDate"],
:host([status="update-available"]) > [key="updateAvailable"] {
    display: block;
}

:host([status="checking"]) small::after {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: dots;
    animation-timing-function: step-end;
    content: "";
    display: inline-block;
    text-align: left;
    width: 16px;
}

translate-string {
    display: none;
}
