:root {
    --brand-primary: #2195f2;
    --brand-success: #97cc04;
    --brand-fail: #ea3546;
    --brand-info: #ffbe2f;

    --primary-bg: #fff;
    --primary-link: var(--brand-primary);
    --primary-fg: #474647;
    --silent-fg: #aaa;
    --silent-bg: #f2f2f2;
    --shy-fg: #666;
    --highlight-fg: var(--primary-bg);
    --highlight-bg: var(--brand-primary);

    --transition-duration: 333ms;

    background-color: var(--primary-bg);
    color: var(--primary-fg);
    cursor: default;
    font-family: system, -apple-system, BlinkMacSystemFont;
}

/* macOS dark mode */
:root.dark-mode {
    --primary-bg: #333;
    --primary-fg: #fafafa;
    --silent-fg: #666;
    --highlight-fg: var(--primary-fg);
}

body {
    display: inline-block;
    margin: 0;
}

a {
    color: currentColor;
    text-decoration-skip: ink;
}
