@import "./generic.css";
@import "./components/unit-changer.css";

:root.calendar body {
    display: inline-block;
    font-size: 14px;
}

.calendar-container {
    --day-size: 2.5rem;

    display: inline-block;
    padding: 0.5rem 1rem 1rem;
    position: relative;
    text-transform: uppercase;
    width: 360px;
}

.calendar-actions {
    font-size: 19px;
    padding: 0 2rem;
    position: relative;
    text-align: center;
}

.calendar-actions > .today {
    --dot-size: 2rem;

    background: transparent;
    border: 0;
    height: var(--dot-size);
    left: 0;
    margin-right: auto;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition-property: color;
    width: var(--dot-size);
}

.calendar-actions > .today::before {
    background-color: currentColor;
    border-radius: 50%;
    content: "";
    height: 25%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-property: none;
    width: 25%;
}

.calendar-actions > .today::after {
    border-radius: 50%;
    content: "";
    box-shadow: inset 0 0 0 0.125rem currentColor;
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.calendar-actions > .month {
    font-weight: bold;
    text-transform: uppercase;
}

.calendar-actions > .year {
    margin-left: 0.5rem;
}

.calendar-legend {
    box-shadow: 0 1px var(--silent-bg);
    color: var(--silent-fg);
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.calendar-legend > .weekday {
    height: var(--day-size);
    line-height: var(--day-size);
    width: var(--day-size);
}

.calendar-week {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.calendar-week.-current {
    background-color: var(--highlight-bg);
    border-radius: 3rem;
    color: var(--highlight-fg);
}

.calendar-day {
    height: var(--day-size);
    line-height: var(--day-size);
    text-align: center;
    width: var(--day-size);
}

.calendar-day.-muted {
    /*background-color: var(--silent-bg);*/
    color: var(--silent-fg);
}

.calendar-day.-today {
    --border-size: 0.25rem;
    --today-size: calc(var(--day-size) - var(--border-size));

    background-color: var(--highlight-fg);
    border-radius: 50%;
    color: var(--primary-text);
    height: var(--today-size);
    line-height: var(--today-size);
    margin: calc(var(--border-size) / 2);
    width: var(--today-size);
}
