:root {
    --brand-primary: #2195f2;
    --brand-success: #97cc04;
    --brand-fail: #ea3546;
    --brand-info: "";

    --primary-background: #fafafa;
    --primary-link: var(--brand-primary);
    --primary-text: #474647;
    --silent-text: #ccc;
    --highlight-fg: var(--primary-background);
    --highlight-bg: var(--brand-primary);

    background-color: var(--primary-background);
    box-sizing: border-box;
    color: var(--primary-text);
    font-family: system, -apple-system, BlinkMacSystemFont, Helvetica Neue, Lucida Grande;
    font-size: 16px;
    transition-duration: 200ms;
    transition-property: none;
}

/* macOS dark mode */
:root.dark-mode {
    --primary-background: #333;
    --primary-text: #fafafa;
    --silent-text: #666;
    --highlight-fg: var(--primary-text);
}

*,
*::before,
*::after {
    border-color: inherit;
    box-sizing: inherit;
    color: currentColor;
    transition-duration: inherit;
    transition-property: inherit;
}

body {
    margin: 0;
}
