[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    height: 24px;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 24px;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 100%;
}

.icon-general::before { background-image: url("../images/icons/general.svg"); }
.icon-clock::before { background-image: url("../images/icons/clock.svg"); }
.icon-about::before { background-image: url("../images/icons/about.svg"); }
.icon-quit::before { background-image: url("../images/icons/quit.svg"); }
.icon-calendar::before { background-image: url("../images/icons/calendar.svg"); }
