@import "./components/native-button.css";
@import "./components/native-checkbox.css";
@import "./components/native-text.css";
@import "./components/native-line.css";
@import "./components/native-silent.css";

:root {
    --native-bg: #ececec;
    --native-font-size: 13px;
    --native-text: #000;
    --native-text-silent: 123, 123, 123; /* #7b7b7b */
    --native-highlight: 21, 126, 251;    /* #157efb */
    --native-hr: #d5d5d5;
    --native-focus-start-size: 20px;

    cursor: default;

    -webkit-user-select: none;
}
