@import "./generic.css";
@import "./native.css";

:root.preferences {
    background-color: var(--native-bg);
    color: var(--native-text);
}

:root.preferences body {
    display: inline-block;
    font-size: var(--native-font-size);
    padding: 1rem;
}

.preferences-field {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 260px;
}

.preferences-field ~ .preferences-field {
    margin-top: 0.5rem;
}

.preferences-field > .legend {
    margin-bottom: 0.25rem;
    padding: 0;
}

.preferences-field > .legend::after {
    content: "\3a";
}

.preferences-field > .content {
    align-items: center;
    display: flex;
}

.preferences-field > .checkbox {
    position: absolute;
    top: 1px;
    left: 0;
}

.preferences-field > .label {
    display: block;
    margin-left: 1.25rem;
}
