:host {
  display: block;
}

.calendar-head {
  display: grid;
  grid-template-areas: "main";
}

.calendar-head > .background,
.calendar-head > .slot {
 grid-area: main;
}

.calendar-head > .background {
  display: flex;
  margin: 0;
}

.calendar-head > .slot {
  display: block;
}
