<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="calendar-container">
        <div class="calendar-pikaday" data-pikaday></div>
        <div class="calendar-controls">
            <button class="primary-button" data-today>Today</button>
        </div>

    </div>
    <script>new (require('../Controllers/Calendar'));</script>
</body>
</html>
