<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="calendar-container">
        <div class="calendar-title">
            <button class="calendar-prev" data-prev></button>
            <button class="calendar-today" data-today></button>
            <button class="calendar-next" data-next></button>
            <span class="calendar-month" data-month></span>
            <span class="calendar-year" data-year></span>
        </div>
        <div class="calendar-pikaday" data-pikaday></div>
    </div>
    <script>new (require('../Controllers/Calendar'));</script>
</body>
</html>
