<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="preferences-container">
        <fieldset class="preferences-field">
            <legend class="legend">Clock format</legend>
            <input class="input" type="text" data-format placeholder="w/Q  ddd, DD.MM.YYYY  HH:mm">
            <a target="_blank" href="http://momentjs.com/docs/#/displaying/">List of available tokens</a>
        </fieldset>

        <fieldset class="preferences-field">
            <input id="autostart" class="checkbox" type="checkbox" data-autostart>
            <label for="autostart" class="label">Start at login</label>
        </fieldset>
    </div>
    <script>require('../Components/Preferences').render()</script>
</body>
</html>
