@import "../../node_modules/normalize.css/normalize";

:root {
    --brand-primary: #2d7dd2;
    --brand-success: #97cc04;
    --brand-fail: #ea3546;
    --brand-info: "";

    --primary-background: #fafafa;
    --primary-link: var(--brand-primary);
    --primary-text: #474647;
    --silent-text: #a09fa0;
    --highlight-fg: var(--primary-background);
    --input-bg: var(--primary-background);

    --font-smaller: 0.75rem;

    background-color: var(--primary-background);
    box-sizing: border-box;
    font-family: system, -apple-system, BlinkMacSystemFont, Helvetica Neue, Lucida Grande;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    transition-duration: 200ms;
    transition-property: none;
}

*,
*::before,
*::after {
    border-color: inherit;
    box-sizing: inherit;
    color: var(--primary-text);
    transition-duration: inherit;
    transition-property: inherit;
}

abbr[title] {
    color: var(--silent-text);
    text-decoration: none;
}

select {
    position: absolute;
    visibility: hidden;
}

a {
    color: var(--primary-link);
    font-size: var(--font-smaller);
    position: relative;
    text-decoration: none;
    text-transform: none;

    &::before {
        color: inherit;
        background-color: currentColor;
        bottom: -1px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        transition-property: transform, opacity;
        width: 100%;
    }

    &:hover::before {
        transform: translateY(2px);
        opacity: 0;
    }
}

.calendar-container {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    position: relative;
}

.pika-single {
    border: 0;
    display: inline-block;
}

.pika-title {
    display: none;
}

.pika-table td {
    padding: 0.25rem;
}

.pika-table th {
    font-size: var(--font-smaller);
    font-weight: inherit;
    padding-bottom: 0.375rem;
}

.pika-day {
    background: transparent;
    border: 0;
    color: currentColor;
    display: block;
    padding: 0.5rem;
    width: 100%;
}

.is-today .pika-day {
    background-color: var(--brand-primary);
    // box-shadow: 0 0 0 0.125rem darken(var(--brand-primary), 2.5%);
    color: var(--highlight-fg);
    border-radius: 50%;
}

.calendar-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.calendar-month {
    order: 4;
    text-align: right;
    width: 50%;
}
.calendar-year {
    font-weight: normal;
    order: 5;
    text-align: right;
    width: 15%;
}

.calendar-prev,
.calendar-next {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 0;
    outline: 0;
    padding: inherit;

    &::before {
        --arrow-size: 0.5rem;
        --line-size: 1px;

        border-color: currentColor;
        border-style: solid;
        border-width: var(--line-size) var(--line-size) 0 0;
        content: "";
        display: block;
        height: var(--arrow-size);
        width: var(--arrow-size);
    }
}

.calendar-prev {
    order: 1;

    &::before {
        transform: rotate(-135deg);
    }
}

.calendar-next {
    order: 3;

    &::before {
        transform: rotate(45deg);
    }
}

.calendar-today {
    background: transparent;
    border: 0;
    cursor: pointer;
    order: 2;
    outline: 0;
    padding: inherit;

    &::before {
        --dot-size: 0.5rem;

        background: currentColor;
        border-radius: 50%;
        content: "";
        display: block;
        height: var(--dot-size);
        width: var(--dot-size);
    }
}

// -----------------------------------------------------------------------------

.preferences-container {
    display: inline-block;
    padding: 1rem;
    width: 300px;
}

.preferences-field {
    --toggle-size: 7rem;
    --input-padding: 0.75rem;

    border: 0;
    color: var(--brand-primary);
    display: block;
    margin: 0;
    padding: 0;

    & + & {
        margin-top: 1.5rem;
    }

    > .legend {
        background-color: var(--brand-primary);
        color: var(--highlight-fg);
        font-size: var(--font-smaller);
        padding: 0.25rem var(--input-padding);
    }

    > .input {
        background-color: var(--input-bg);
        border: 0;
        box-shadow: inset 0 0 0 2px var(--brand-primary);
        color: inherit;
        margin: 0 0 0.5rem;
        outline: 0;
        padding: var(--input-padding);
        width: 100%;

        &::-webkit-input-placeholder {
            color: var(--silent-text);
            opacity: 1;
        }
    }

    > .label {
        background-color: var(--input-bg);
        box-shadow: inset 0 0 0 2px currentColor;
        cursor: pointer;
        color: var(--brand-fail);
        display: block;
        padding: var(--input-padding);
        position: relative;
        text-transform: none;
        transition-property: box-shadow, color;

        &::before,
        &::after {
            content: "";
            bottom: 2px;
            position: absolute;
            right: 2px;
            top: 2px;
        }

        &::before {
            background-image: linear-gradient(to right, var(--brand-primary) 50%, var(--brand-fail) 50%);
            color: var(--highlight-fg);
            content: "YES NO";
            padding: inherit;
            text-align: center;
            width: var(--toggle-size);
            word-spacing: calc(var(--input-padding) * 2);
        }

        &::after {
            background-color: var(--input-bg);
            transform: translateX(calc(var(--toggle-size) / -2));
            transition-property: transform;
            width: calc(var(--toggle-size) / 2);
        }
    }

    > .checkbox {
        position: absolute;
        visibility: hidden;

        &:checked + .label {
            color: var(--brand-primary);

            &::after {
                transform: translateX(0);
            }
        }
    }
}
