:host {
    display: block;
    font-size: 14px;
    line-height: 19px;
    padding-top: 36px;
    width: 520px;
}

preferences-item {
    position: relative;
}

preferences-item + preferences-item {
    margin-top: 28px;
}

preferences-item-data[type="toggle"] ~ preferences-item-title,
preferences-item-data[type="toggle"] ~ preferences-item-description {
    width: 80%;
}

preferences-item-data[type="toggle"] {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
