:host {
    --logo-size: 140px;

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

figure {
    background-image: url("../../../images/logos/timestamp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--logo-size);
    margin: 0;
    width: var(--logo-size);
}

section {
    width: calc(100% - var(--logo-size) - 14px);
}

nav {
    display: flex;
    color: var(--highlight-bg);
}

nav a {
    flex-grow: 1;
    color: currentColor;
}

nav a + a {
    margin-left: 8px;
}

footer {
    border-top: 1px solid var(--silent-bg);
    color: var(--silent-fg);
    font-size: 13px;
    margin-top: 26px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}
