<template>
    <link rel="stylesheet" href="./stylesheets/buttons.css">
    <link rel="stylesheet" href="./components/about/about-view/index.css">

    <figure></figure>
    <section>
        <about-name>Timestamp</about-name>
        <about-version>1.0.0</about-version>
        <about-update status="unknown" class="button-primary"></about-update>

        <nav>
            <a href="https://mzdr.github.io/timestamp" class="button-primary">
                <translate-string>visitOfficialWebsite</translate-string>
            </a>
            <a href="https://github.com/mzdr/timestamp/issues" class="button-primary">
                <translate-string>reportAnIssue</translate-string>
            </a>
        </nav>
    </section>
    <footer>&copy; 2017 Sebastian Prein. <translate-string>releasedUnderMIT</translate-string></footer>
</template>

<script src="./index.js"></script>
