<template>
    <link rel="stylesheet" href="./components/calendar/calendar-navigation/index.css">
    <slot>
        <calendar-goto-year></calendar-goto-year>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-month></calendar-goto-month>
        <calendar-goto-year></calendar-goto-year>
    </slot>
</template>
<script src="./index.js"></script>
