:host {
  display: block;
  user-select: none;
  width: 720px;

  -webkit-app-region: drag;
}

translation-key a {
  color: var(--color-brand);
}

.preferences-view {
  display: grid;
  grid-template-areas: "side alert" "side contents";
  grid-template-columns: 192px 1fr;
  grid-template-rows: min-content 1fr;
}

.preferences-view > .side { grid-area: side; }
.preferences-view > .alert { grid-area: alert; }
.preferences-view > .contents { grid-area: contents; }

.preferences-view > .alert,
.preferences-view > .contents {
  background-color: var(--color-background-primary);
}

.preferences-view > .alert {
  border-bottom: 1px solid var(--color-line);
}

.preferences-view > .alert.-hidden {
  display: none;
}

.preferences-side {
  box-shadow: inset -1px 0 0 var(--color-line);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding: var(--grid-gap);
}

.preferences-side > .logo {
  margin: calc(var(--grid-gap) * 2) auto var(--grid-gap);
  width: 128px;
}

.preferences-side > .name {
  font-size: calc(var(--type-size) * 1.5);
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.preferences-side > .navigation {
  margin: calc(var(--grid-gap) * 2) 0;
}

.preferences-side > .about {
  align-self: flex-end;
  color: var(--color-text-shy);
  font-size: var(--shy-size);
}

.preferences-navigation {
  display: grid;
  grid-row-gap: calc(var(--grid-gap) / 2);
}

.preferences-navigation > .item {
  align-items: center;
  appearance: none;
  background: transparent;
  border: 0;
  color: currentColor;
  display: grid;
  font: inherit;
  grid-column-gap: calc(var(--grid-gap) / 2);
  grid-template-columns: min-content 1fr;
  outline: 0;
  padding: 4px 0;
  text-align: left;
}

.preferences-navigation > .item > .icon {
  height: 18px;
  stroke-width: 1.5;
  width: 18px;
}

.preferences-contents {
  display: grid;
}

.preferences-contents > .content {
  align-content: flex-start;
  display: grid;
  grid-area: 1 / 1 / -1 / -1;
  grid-row-gap: var(--grid-gap);
  padding: calc(var(--grid-gap) * 2);
}

.preferences-contents > .content.-hidden {
  display: none;
}

.preferences-contents > .content > .description {
  color: var(--color-text-shy);
}
