:host {
  display: block;
  user-select: none;
  width: 640px;

  -webkit-app-region: drag;
}

.preferences-view {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(2, 1fr);
  padding: var(--grid-gap);
}

.preferences-view > .alert,
.preferences-view > .about {
  grid-column: 1 / -1;
}

.preferences-view > .about {
  border-radius: var(--fx-radius);
  box-shadow: inset 0 1px 0 var(--color-line);
  color: var(--color-text-shy);
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--grid-gap);
  justify-content: center;
  padding-top: var(--grid-gap);
}

.preferences-category {
  display: grid;
  grid-row-gap: calc(var(--grid-gap) / 2);
  grid-template-rows: min-content 1fr;
}

.preferences-category > .title {
  font-size: 18px;
  font-weight: 400;
}

.preferences-category > .items {
  border-radius: var(--fx-radius);
  box-shadow: inset 0 0 0 1px var(--color-line);
  padding: var(--grid-gap);
}

.preferences-item {
  display: grid;
  grid-gap: calc(var(--grid-gap) / 2);
  grid-template-areas: "action label" "description description";
  grid-template-columns: min-content 1fr;
}

.preferences-item.-text {
  grid-template-areas: "label" "action" "description";
  grid-template-columns: 1fr;
}

.preferences-item > .action {
  align-self: center;
  grid-area: action;
  margin: 0;
}
.preferences-item > .label { grid-area: label; }

.preferences-item > .description {
  color: var(--color-text-shy);
  font-size: 12px;
  grid-area: description;
}
