<template>
    <link rel="stylesheet" href="./components/calendar/calendar-view/index.css">

    <calendar-illustration></calendar-illustration>

    <calendar-goto-today>
        <calendar-today></calendar-today>
    </calendar-goto-today>

    <calendar-show-preferences></calendar-show-preferences>

    <calendar-legend></calendar-legend>

    <calendar-month>
        <calendar-weekdays></calendar-weekdays>
        <calendar-weeks></calendar-weeks>
    </calendar-month>

    <calendar-navigation></calendar-navigation>
</template>

<script src="./index.js"></script>
