.native-checkbox {
    border-radius: 3.5px;
    box-shadow: 0 0 0 var(--native-focus-start-size) transparent;
    height: 14px;
    margin: 0;
    outline: 0;
    width: 14px;
}

.native-checkbox:focus,
.native-checkbox:active {
    box-shadow: 0 0 0 3px rgba(var(--native-highlight), 0.4);
    transition-property: box-shadow;
}
