.unit-changer {
    background: transparent;
    border: 0;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    text-align: center;
}

.unit-changer > .up,
.unit-changer > .down {
    display: block;
    height: 1.5rem;
    transform: translateY(0);
    transition-property: transform, opacity;
}

.unit-changer > .up::before,
.unit-changer > .down::before {
    --arrow-size: 0.5rem;
    --line-size: 2px;

    box-shadow: inset var(--line-size) var(--line-size) 0 0 currentColor;
    content: "";
    display: inline-block;
    height: var(--arrow-size);
    transition-property: none;
    width: var(--arrow-size);
}

.unit-changer > .up::before {
    transform: rotate(45deg);
}

.unit-changer > .down::before {
    transform: translateY(-50%) rotate(-135deg);
}

.unit-changer:not(:hover) > .up,
.unit-changer:not(:hover) > .down {
    opacity: 0;
}

.unit-changer:not(:hover) > .up {
    transform: translateY(40%);
}

.unit-changer:not(:hover) > .down {
    transform: translateY(-40%);
}

.unit-changer > .label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
