<link rel="stylesheet" href="styles.css">
<script src="./CalendarContent.js"></script>
<script src="./CalendarDay.js"></script>
<script src="./CalendarEvent.js"></script>
<script src="./CalendarGoToMonth.js"></script>
<script src="./CalendarGoToToday.js"></script>
<script src="./CalendarGoToYear.js"></script>
<script src="./CalendarLegend.js"></script>
<script src="./CalendarMonth.js"></script>
<script src="./CalendarView.js"></script>
<script src="./CalendarWeek.js"></script>
<script src="./CalendarWeekday.js"></script>
<script src="./CalendarWeekdays.js"></script>
<script src="./CalendarYear.js"></script>
<script src="./Calendar.js"></script>

<template>
    <calendar-view>
        <button is="calendar-goto-today">T</button>
        <button class="calendar-show-preferences" data-show-preferences></button>
        <calendar-legend>
            <calendar-goto-month></calendar-goto-month>
            <calendar-goto-year></calendar-goto-year>
            <calendar-weekdays></calendar-weekdays>
        </calendar-legend>
        <calendar-content></calendar-content>
    </calendar-view>
</template>
