<script>

    // We are in dark mode
    if (Electron.remote.systemPreferences.isDarkMode()) {
        document.documentElement.classList.add('dark-mode');
    }

    // Update Moment.js
    Moment.locale(Electron.remote.app.getLocale());

</script>

<link rel="import" href="./calendar-event/index.html">

<link rel="import" href="./calendar-day/index.html">
<link rel="import" href="./calendar-goto-month/index.html">
<link rel="import" href="./calendar-goto-today/index.html">
<link rel="import" href="./calendar-goto-year/index.html">
<link rel="import" href="./calendar-illustration/index.html">
<link rel="import" href="./calendar-month/index.html">
<link rel="import" href="./calendar-navigation/index.html">
<link rel="import" href="./calendar-legend/index.html">
<link rel="import" href="./calendar-show-preferences/index.html">
<link rel="import" href="./calendar-today/index.html">
<link rel="import" href="./calendar-view/index.html">
<link rel="import" href="./calendar-week/index.html">
<link rel="import" href="./calendar-weekday/index.html">
<link rel="import" href="./calendar-weekdays/index.html">
<link rel="import" href="./calendar-weeks/index.html">
