calendar-view {
    --day-size: 2.5rem;

    display: block;
    font-size: 14px;
    padding: 1rem;
    position: relative;
    text-transform: uppercase;

    -webkit-user-select: none;
}

[is="calendar-goto-today"] {
    background-color: transparent;
    border: 0;
    color: var(--highlight-bg);
    height: 3rem;
    outline: 0;
    padding: 0;
    /*position: absolute;*/
    left: 0;
    top: 0;
    width: 3rem;
}

calendar-legend {
    display: block;
    font-size: 19px;
    text-align: center;
}

calendar-weekdays {
    box-shadow: 0 1px var(--silent-bg);
    color: var(--silent-fg);
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: space-between;
}

calendar-weekdays > calendar-weekday {
    height: var(--day-size);
    line-height: var(--day-size);
    width: var(--day-size);
}

calendar-content {
    display: block;
    text-align: center;
}

calendar-week {
    display: flex;
    justify-content: space-between;
}

calendar-week.-current {
    background-color: var(--highlight-bg);
    border-radius: 3rem;
    color: var(--highlight-fg);
}

calendar-day {
    height: var(--day-size);
    line-height: var(--day-size);
    width: var(--day-size);
}

calendar-day.-muted {
    /*background-color: var(--silent-bg);*/
    color: var(--silent-fg);
}

calendar-day.-today {
    --border-size: 0.25rem;
    --today-size: calc(var(--day-size) - var(--border-size));

    background-color: var(--highlight-fg);
    border-radius: 50%;
    color: var(--primary-fg);
    height: var(--today-size);
    line-height: var(--today-size);
    margin: calc(var(--border-size) / 2);
    width: var(--today-size);
}

calendar-show {
    background-color: transparent;
    border: 0;
    color: var(--highlight-bg);
    height: 3rem;
    left: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 3rem;
}

.show-weekofyear calendar-weekdays::before {
    border-right: 1px solid var(--silent-bg);
    content: "#";
}

.show-weekofyear calendar-week::before {
    border-right: 1px solid var(--silent-bg);
    color: var(--silent-fg);
    content: attr(data-weekofyear);
}

.show-weekofyear calendar-week.-current::before {
    color: var(--highlight-fg);
}

.show-weekofyear calendar-week::before,
.show-weekofyear calendar-weekdays::before {
    height: var(--day-size);
    line-height: var(--day-size);
    width: var(--day-size);
}
