<template>
    <link rel="stylesheet" href="./components/calendar/calendar-weeks/index.css">
    <slot>
        <calendar-week>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
        </calendar-week>
        <calendar-week>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
        </calendar-week>
        <calendar-week>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
        </calendar-week>
        <calendar-week>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
        </calendar-week>
        <calendar-week>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
        </calendar-week>
        <calendar-week>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
            <calendar-day></calendar-day>
        </calendar-week>
    </slot>
</template>
<script src="./index.js"></script>
