:host {
    align-items: center;
    color: var(--silent-fg);
    contain: content;
    display: flex;
    font-size: 13px;
    font-weight: 300;
    justify-content: flex-end;
    margin: 14px 20px;
    white-space: nowrap;
    width: 100%;
}

:host::before,
:host::after {
    content: "";
    height: 1px;
    width: 57.5%;
}

:host::before {
    background-image: linear-gradient(to left, var(--silent-bg), transparent);
    margin-right: 22px;
}

:host::after {
    background-image: linear-gradient(to right, var(--silent-bg), transparent);
    margin-left: 22px;
}
